/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/behat.yml
/phpspec.yml

/package-lock.json

/.php-version
/.phpunit.result.cache
/node_modules
