parameters:
    level: 8
    paths:
        - src/

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/MonsieurBizSyliusRichEditorExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'

        # Skeleton files
        - 'src/Resources/skeleton/*.php'

        # Maker files
        - 'src/Maker/*.php'

    ignoreErrors:
        - identifier: missingType.iterableValue
