{#
    UI Element template
    type: quote
    element fields :
        author
        content
        align
#}
{% set align = element.align is defined and element.align is not empty ? element.align : 'inherit' %}
{% if element is not empty %}
    <figure style="text-align: {{align}};">
        <blockquote class="blockquote">
            <p>{{ element.content | raw | nl2br }}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            {{ element.author }}
        </figcaption>
    </figure>
{% endif %}
