{#
    UI Element template
    type: button_link
    element fields :
        label
        link
#}
{% if element is not empty %}
    <p align="center">
        <a href="{{ element.link }}" class="ui primary button massive">{{ element.label }}</a>
    </p>
{% endif %}
