{#
    UI Element template
    type: image
    element fields :
        image
        alt
        title
#}
{% if element.image is defined %}
<p>
    <img src="{{ element.image }}" alt="{{ element.alt|default('') }}" title="{{ element.title|default('') }}" />
</p>
{% endif %}
