{#
    UI Element template
    type: products
    element fields :
        products
        title
#}

{% if element is not empty and element.title is not empty %}
    <div class="ui center aligned huge header">{{ element.title }}</div>

    {{ render(url('monsieurbiz_sylius_rich_editor_shop_partial_products', {'products': element.products, 'template': '@MonsieurBizSyliusRichEditorPlugin/Shop/_carousel.html.twig'})) }}
{% endif %}