imports:
    - { resource: "services.yaml" }
    - { resource: "sylius/ui.yaml" }
    - { resource: "richeditor.yaml" }
    - { resource: 'images.yaml' }

knp_gaufrette:
    adapters:
        monsieurbiz_rich_editor_fixture_file:
            local:
                directory: '%sylius_core.public_dir%/media'
                create: true
    filesystems:
        monsieurbiz_rich_editor_fixture_file:
            adapter: 'monsieurbiz_rich_editor_fixture_file'

parameters:
    env(MONSIEURBIZ_SYLIUS_RICH_EDITOR_UPLOAD_DIR): /media/rich-editor
    env(MONSIEURBIZ_SYLIUS_RICH_EDITOR_IMAGE_UPLOAD_DIR): /media/image

liip_imagine:
    loaders:
        default:
            filesystem:
                data_root:
                    - "%sylius_core.public_dir%%env(MONSIEURBIZ_SYLIUS_RICH_EDITOR_UPLOAD_DIR)%"
