//
// Main
// --------------------------------------------------------------------------

@charset "UTF-8";

html.is-disabled body {
    overflow: hidden;
}

/* WYSIWYG */

.pell {
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.03);
    border: 1px solid rgba(34, 36, 38, 0.1);
    box-sizing: border-box;
    border-radius: .28571429rem;
}

.pell-content {
    box-sizing: border-box;
    height: 300px;
    outline: 0;
    overflow-y: auto;
    padding: 10px;

    // These lines are here to avoid font-size style after removing EOL in the editor
    // @see https://github.com/monsieurbiz/SyliusRichEditorPlugin/issues/132
    p, span {
        font-size: unset !important;
        line-height: unset !important;
    }
}

.pell-actionbar {
    background-color: #FFF;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

.pell-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: 0;
    width: 30px;
    vertical-align: bottom;
}

.pell-button-selected {
    background-color: #F0F0F0;
}


/* Panels */

.uie-panels {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    padding: 0.714rem 0 0.714rem 5%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uie-panels::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.85);
    content: "";
}

.uie-panels[aria-hidden=false] {
    display: block;
}

.uie-panels[aria-hidden=false]::before {
    animation: fadeOut 0.2s ease-out;
}

.uie-panels__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.714rem;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-right-width: 0;
    border-radius: 0.286rem 0 0 0.286rem;
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
}

[aria-hidden=false] .uie-panels__content {
    animation: slideFromRight 0.3s ease-out;
}

.uie-panels__new {
    position: absolute;
    top: 1.143rem;
    right: 0;
    bottom: 1.143rem;
    left: calc(1.143rem + 2rem);
    z-index: 10;
    display: none;
    flex-direction: column;
    // height: 100%;
    padding: 1.714rem;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-right-width: 0;
    border-radius: 0.286rem 0 0 0.286rem;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.uie-panels__new[aria-hidden=false] {
    display: flex;
}

.uie-panels__new[aria-hidden=false] > * {
    animation: appear 0.4s ease-out;
}

.uie-panels__inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Overload */

.uie-cards {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 0.1s ease-out;
}

.is-active .uie-cards {
    opacity: 0;
    pointer-events: none;
}

.uie-card {
    min-height: 6rem !important;
    cursor: pointer;
}

.uie-card .content {
    padding-top: 1.5rem !important;
}

.is-active .uie-heading {
    transform: rotate(90deg) translateY(-0.6rem) scale(0.7);
    transform-origin: left top 0;
}

/* Utilities */

.uie-flex {
    display: flex !important;
}

.uie-flex-cross-center {
    align-items: center !important;
}

.uie-flex-main-between {
    justify-content: space-between !important;
}

.uie-w-full {
    width: 100% !important;
}

.uie-m-0 {
    margin: 0 !important;
}

.uie-mb-sm {
    margin-bottom: 1rem !important;
}

.uie-mb-md {
    margin-bottom: 2rem !important;
}

.uie-ml-md {
    margin-left: 2rem !important;
}

@media (max-width: 700px) {
    .sm\:uie-flex-column {
        flex-direction: column !important;
    }

    .sm\:uie-mt-xs {
        margin-top: 1rem !important;
    }
}
