{#
    UI Element template
    type: columns
    element fields :
        content
#}
{% if element.content|default('') is not empty %}
    {% set content = monsieurbiz_richeditor_get_elements(element.content) %}
    {% for row in content %}
        <div style="border: 2px dashed rgba(34, 36, 38, 0.1); padding: 10px">
           {{ row | monsieurbiz_richeditor_render_element }}
        </div>
    {% endfor %}
{% endif %}
