{#
    UI Element template
    type: h2
    element fields :
        content
        align
#}
{% set align = element.align is defined and element.align is not empty ? element.align : 'inherit' %}
{% if element is not empty %}
    <h2 class="udisplay-2" style="text-align: {{align}};">{{ element.content }}</h2>
{% endif %}
