{#
    UI Element template
    type: row
    element fields :
        content
#}
{% if element.content|default('') is not empty %}
<div class="d-flex flex-row flex-wrap gap-3">
    {% set content = monsieurbiz_richeditor_get_elements(element.content) %}
    {% for column in content %}
        <div class="w-full">
           {{ column | monsieurbiz_richeditor_render_element }}
        </div>
    {% endfor %}
</div>
{% endif %}
