{#
    UI Element template
    type: row
    element fields :
        content
#}
{% if element.content|default('') is not empty %}
    {% set content = monsieurbiz_richeditor_get_elements(element.content) %}
    {% for column in content %}
        <div class="row" style="border: 2px dashed rgba(34, 36, 38, 0.1); padding: 5px; margin: 5px;">
           {{ column | monsieurbiz_richeditor_render_element }}
        </div>
    {% endfor %}
{% endif %}
