{#
    UI Element template
    type: text
    element fields :
        content
        align
#}
{% set align = element.align is defined and element.align is not empty ? element.align : 'inherit' %}
<div style="text-align: {{align}};">
    {{ element.content | raw }}
</div>
