{#
    UI Element template
    type: video
    element fields :
        video
        image
        align
#}
{% set align = element.align is defined and element.align is not empty ? element.align : 'inherit' %}
<div style="text-align: {{align}};">
    <video width="100%" poster="{{ monsieurbiz_richeditor_get_media_without_upload_dir(element.image)|imagine_filter('monsieurbiz_rich_editor_image') }}" controls>
        <source src="{{ element.video }}" type="video/{{ element.video|split('.')|last }}">
    </video>
</div>
