{#
    UI Element template
    type: columns
    element fields :
        content
#}
{% if element.content|default('') is not empty %}
    <div class="container">
        <div class="row">
            {% set content = monsieurbiz_richeditor_get_elements(element.content) %}
            {% for column in content %}
                <div class="col-4">
                    {{ column | monsieurbiz_richeditor_render_element }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
