{#
    UI Element template
    type: columns
    element fields :
        content
#}
{% if element.content|default('') is not empty %}
<div class="ui grid equal width container">
    {% set content = monsieurbiz_richeditor_get_elements(element.content) %}
    {% for column in content %}
        <div class="column">
            {{ column | monsieurbiz_richeditor_render_element }}
        </div>
    {% endfor %}
</div>
{% endif %}
