{#
    UI Element template
    type: separator
    element fields :
        hidden
        style
        thickness
#}
{% set elementStyle = element.style | default(constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::SOLID_STYLE')) %}
{% set elementThickness = element.thickness | default(constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::THICKNESS_FINE')) %}
{% set borderStyleMap = {
    (constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::SOLID_STYLE')): 'border-top-style: solid; border-bottom: none;',
    (constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::DOTTED_STYLE')): 'border-top-style: dotted; border-bottom: none;',
    (constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::DASHED_STYLE')): 'border-top-style: dashed; border-bottom: none;',
} %}
{% set borderThicknessMap = {
    (constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::THICKNESS_FINE')): 'border-1',
    (constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::THICKNESS_MEDIUM')): 'border-2',
    (constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::THICKNESS_THICK')): 'border-4',
    (constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\UiElement\\SeparatorType::THICKNESS_VERY_THICK')): 'border-5',
} %}
<div style="{{ borderStyleMap[elementStyle] }}" class="p-2 border-dark {% if element.hidden is not empty %}d-none {% endif %}{{ borderThicknessMap[elementThickness] }}" ></div>
