{#
    UI Element template
    type: video
    element fields :
        video
        image
        align
#}
{% set align = element.align is defined and element.align is not empty ? element.align : 'inherit' %}
<div style="text-align: {{align}};">
    <video width="100%" poster="{{ element.image }}" controls>
        <source src="{{ element.video }}" type="video/{{ element.video|split('.')|last }}">
    </video>
</div>
