name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:

  php:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [7.4]

    env:
      SYMFONY_ARGS: --no-tls
      COMPOSER_ARGS: --prefer-dist
      DOCKER_INTERACTIVE_ARGS: -t

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        run: |
          sudo update-alternatives --set php /usr/bin/php${{ matrix.php }}
          echo "date.timezone=UTC" | sudo tee /etc/php/${{ matrix.php }}/cli/conf.d/timezone.ini
          echo "${{ matrix.php }}" > .php-version

      - name: Install symfony CLI
        run: |
          curl https://get.symfony.com/cli/installer | bash
          echo "${HOME}/.symfony/bin" >> $GITHUB_PATH

      - uses: actions/cache@v1
        id: cache-composer
        with:
          path: /home/runner/.composer/cache
          key: composer-php:${{ matrix.php }}-${{ github.sha }}
          restore-keys: composer-php:${{ matrix.php }}-

      - run: mkdir -p /home/runner/.composer/cache
        if: steps.cache-composer.outputs.cache-hit != 'true'

      - name: Composer v1
        run: sudo composer self-update --1

      - name: Composer Github Auth
        run: composer config -g github-oauth.github.com ${{ github.token }}

      - run: make install

      - run: make test.composer

      - run: make test.phpcs

      - run: make test.phpunit

      - run: make test.phpstan

      - run: make test.phpspec

      - run: make test.yaml

      - run: make test.twig

      - run: make test.schema

      #- run: make test.container
